* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    line-height: 1.4;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Indie Flower';
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
nav {
    text-align: center;
    padding: 2rem;
    color: yellowgreen;
    border-bottom: 2px solid yellowgreen;
    padding: 2rem 0;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    outline: 2px solid yellowgreen;
    color: yellowgreen;
    border-radius: 1rem;
    padding: 2rem;
    width: 50vw;
    margin: 2rem auto;
}
.login-form input {
    cursor: text;
    width: 100%;
    background-color: #111;
    border: 1px solid yellowgreen;
    color: whitesmoke;
}
.output {
    outline: 2px solid red;
    font-family: sans-serif;
    color: yellowgreen;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100vw;
    color: whitesmoke;
    border-top: 2px solid yellowgreen;
    padding: 2rem 0;
}
.attribution a { 
    font-size: 13px;
    letter-spacing: 2px;
    color: yellowgreen; 
}

.btn {
    cursor: pointer;
    font-family: 'Indie Flower';
    color: black;
    background-color: grey;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}
.btn:hover {
    background-color: whitesmoke;
}
.hidden {
    display: none;
}